<% if HospitalProfile.count == 0 %>
	<div class="container">
		<h2></h2>
		<div class="registration text-center">
			Please click <%= link_to 'Here', new_hospital_profile_path %> to register the hospital details
		</div>
	</div>
<% else %>
	<h3>Instructions</h3>
	<p><strong>If your role is hospital you have an access for </strong></p>
	<p>Managing Roles</p>
	<p>Manage Patients</p>
	<p>Manage Hospital Profile</p>
	<p>Manage Tests</p>
	<strong>If your role is personal you don't have an access for the above duties and you will have access for personal profile for updating location and information. You are able to see test results</strong>
<% end %>