<div class="role-edit">
	<div class="block-center mt-xl wd-xl">
		<div class="panel">
			<h2 class="header-title panel-title">Editing Role</h2>
			<div class="panel-body">
				<%= render 'form' %>
				<span class="pull-left extra-margin-top margin-bottom">
					<%= link_to 'Back', roles_path, class: 'btn btn-info' %>
					<%= link_to 'Show', @role, class: 'btn btn-info' %>
				</span>
			</div>
		</div>
	</div>
</div>