<div class="role-new">
	<div class="block-center mt-xl wd-xl">
		<div class="panel">
			<h2 class="header-title panel-title">New Role</h2>
			<div class="extra-margin-top panel-body">
				<%= render 'form' %>
				<%= link_to 'Back', roles_path, class: 'btn btn-info back-btn extra-margin-top margin-bottom pull-left' %>
			</div>
		</div>
	</div>
</div>